/* General */
html, body {
    margin: 0;
    padding: 0;
}

/* Mobile */

/*#board {*/
/*    display: grid;*/
/*    grid-template-columns: 33% 33% 33%;*/
/*    grid-template-rows: 33% 33% 33%;*/
/*    justify-content: center;*/

/*    margin: 0 auto;*/
/*    padding: 0;*/
/*}*/

#board {
    margin: 0 auto;
    border: 5px solid darkmagenta;
    width: 300px;
    height: 300px;
}

#button-restart {
    display: block;
}

.cell {
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 33.333%;
    height: 33.333%;
    text-align: center;
    font-size: 80px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    text-align: center;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 0;
}

.nav-item {
    flex-basis: 100%;

    list-style-type: none;
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 10px 0;
    text-align: center;
}

.winning-cell {
    background-color: forestgreen;
}

#winning-text {
    text-align: center;
}

/* Tablet */

/* Laptop */

/* Desktop */
