/* General */
html, body {
    margin: 0;
    padding: 0;
}

/* Mobile */

#board {
    margin: 0 auto;
    padding: 0;
}

#button-restart {
    display: block;
}

.cell {
    display: block;
    border-collapse: collapse;
    float: left;
    -webkit-margin-collapse: collapse;
    border: 1px black solid;
    width: 125px;
    height: 125px;
    text-align: center;
    font-size: 80px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    text-align: center;
}

.winning-cell {
    background-color: forestgreen;
}

#winning-text {
    text-align: center;
    text-transform: uppercase;
}

/* Tablet */

/* Laptop */

/* Desktop */
